{% extends "base.html" %} 
{% load staticfiles %} 

{% block content %}
<div class="row">
    <h1>Hello World</h1>
    {% if servers.count == 0 %}
        <h2>Looks like I'm not in any server yet :(</h2>
        <p>Click <a href="#">here</a> to add me to your own server!</p>
    {% else %}
        <h2>I'm currently collecting links for these servers:</h2>
        <ul>
            {% for s in servers %}
                <li><a href="./{{ s.discord_id }}">{{ s.name }}</a></li>
            {% endfor %}
        </ul>
        <p>Click <a href="#">here</a> to add me to your own server!</p>
    {% endif %}
</div>
{% endblock %}