{% extends "base.html" %} 
{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Discord Bottachable</h1>
    <p class="lead">asdasdsad</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% if servers.count == 0 %}
        <h2>Looks like I'm not in any server yet :(</h2>
        <p>Click <a href="#">here</a> to add me to your own server!</p>
    {% else %}
        <h2>I'm currently collecting links for these servers:</h2>
        <ul>
            {% for s in servers %}
                <li><a href="./{{ s.discord_id }}">{{ s.name }}</a></li>
            {% endfor %}
        </ul>
        <p>Click <a href="#">here</a> to add me to your own server!</p>
    {% endif %}
</div>
{% endblock %}