{% extends "base.html" %} 
{% load staticfiles %} 

{% block navigation %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Discord-Bottachable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">#Channel <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    {% if links.count == 0 %}
        <h2>Looks like I haven't collected any links for this server.</h2>
        <p>If I'm not yet invited to your server, click <a href="#">here</a>
        to invite me!</p>
    {% else %}
        {% for l in links %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card">
                <a href="{{l.source}}">
                    <img style="height: 200px;" class="card-img-top" src="{{l.media_url}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="{{l.source}}">
                        <h4 class="card-title">{{l.title}}</h4>
                    </a>
                    <p class="card-text">{{l.description}}</p>
                    {% for t in l.tags.all %}
                        <span style="white-space: initial;" class="badge badge-pill badge-secondary">{{t.name}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}