{% extends "base.html" %} 
{% load staticfiles %} 

{% block navigation %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ server_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">#Channel <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Channel</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    {% if links.count == 0 %}
        <h2>Looks like I haven't collected any links for this server.</h2>
        <p>You can start by using <pre>!link</pre> command.</p>
    {% else %}
        {% for l in links %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card">
                <a href="{{l.source}}">
                    {% if l.media_url|length > 0 %}
                        <img style="height: 200px;" class="card-img-top" src="{{l.media_url}}" alt="Card image cap" title="{{l.source}}" />
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{{l.source}}" title="{{l.source}}">
                        <h4 class="card-title">{{l.title}}</h4>
                    </a>
                    <p class="card-text">{{l.description}}</p>
                    {% for t in l.tags.all %}
                        {% if t.name not in tags and tags|length > 0 %}
                            <a href="/{{server_id}}/tags/{{current_tags}},{{t.name}}">
                                <span class="badge badge-pill badge-secondary">{{t.name}}</span>
                            </a>
                        {% elif t.name in tags and tags|length > 0 %}
                            <a href="/{{server_id}}/tags/{{current_tags}}">
                                <span class="badge badge-pill badge-secondary">{{t.name}}</span>
                            </a>
                        {% else %}
                            <a href="/{{server_id}}/tags/{{t.name}}">
                                <span class="badge badge-pill badge-secondary">{{t.name}}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- PAGINATION EXAMPLE -->
        <div class="pagination">
            <div class="step-links">
                {% if links.has_previous %}
                    <a href="?page={{ links.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ links.number }} of {{ links.paginator.num_pages }}.
                </span>

                {% if links.has_next %}
                    <a href="?page={{ links.next_page_number }}">next</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}